<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:macro name="crisp_arm_transmission" params="prefix hw_interface">

    <transmission name="${prefix}j1_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}j1_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}j2_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}j2_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}j3_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}j3_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction> <!--belt pulley therefore 1-->
      </actuator>
    </transmission>

    <transmission name="${prefix}j4_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j4">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}4_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}j5_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j5">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}j5_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}j6_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}j6">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}j6_actr">
        <hardwareInterface>${hw_interface}</hardwareInterface>
        <mechanicalReduction>2</mechanicalReduction>
      </actuator>
    </transmission>
  
  </xacro:macro>

</robot>
